{% extends 'grocerylist/base.html' %}

{% block title %}New Recipe{% endblock title%}</title>

{% block content %}
    <h1>Creating a new recipe...</h1>


    {% if valid_flag == True %}
    <h2> <p class="text">Valid content!</p> </h2>
    {% endif %}

    {% if valid_flag == False %}
    <h2> <p class="text-danger">Invalid content!</p> </h2>
    {% endif %}


    <form action="{% url 'grocerylist:new_recipe' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>

{% endblock content %}
