{% extends 'grocerylist/base.html' %}

{% block title %}Grocery List Index{% endblock title%}</title>

{% block content %}
    <h2>Grocery List for {{list.shopping_date}} </h2>
    
    {% for section in sorted_entries %}
        {% if section.entries %}
            <div class="m-3">
                <u><h5>{{section.group.name}}</h5></u>
                {% for entry in section.entries%}
                    {{entry.item.name}}
                    {% if entry.quantity %} - {{ entry.quantity }}{% endif %}
                    <br>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}
